@model IEnumerable<ChatardApp.Models.ApplicationUser>
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Who I Follow</h1>
<ul>
    @foreach (var team in Model)
    {
        <li>@team.Name</li>
    }
</ul>

